 

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}



input, button, textarea {
  font: 400 18px Roboto, sans-serif;
  width: 100%;
}



form input{
  width: 100%;    
  height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
}


form textarea{
  width: 100%;
  resize: vertical; /* textarea aumentar só altura*/
  min-height: 140px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 14px 24px;
  line-height: 24px;
}


.titlePage{
  display: flex; 
  color: #41414d;
  font-size: 32px;
  font-family: 'Roboto';
  margin: 10px; 
}

.backButton{
  margin-right: 15px;
  cursor: pointer;
}

.button{
  width: 100%;
  height: 60px;
  background: #43A838;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
}

.button:hover{
  filter: brightness(90%);
}

.back-link {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #41414d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2;
}

.back-link svg{
  margin-right: 8px;
}

.back-link:hover{
  opacity: 0.8;
}

.main-container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin:  32px auto;

} 

.main-container header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-container header span{
  font-size: 20px;
  margin-left: 24px;
}

.main-container header img{
  height: 64px;
}

.main-container section h1{
  margin-top: 80px;
  margin-bottom: 24px;
} 

.main-container ul{
  display: grid; 
  grid-template-columns:  repeat(auto-fit,  minmax(320px, auto)); 
  align-items: center;
  list-style: none;  
} 

/* 
.main-container ul li{ 
  max-width: 340px;
  padding: 40px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0,0,0, 0.2);
  border-radius: 10px;
  margin: 10px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.main-container ul li:hover{
  box-shadow: 0 0 30px rgba(22,127,250, 0.3);
}

.main-container ul li span{
  color: #41414d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  padding: 10px;
} 
*/

.card{
  max-width: 340px;
  padding: 40px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0,0,0, 0.2);
  border-radius: 10px;
  margin: 10px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color: #41414d;
  font-size: 22px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2;
}

.card:hover{
  box-shadow: 0 0 30px rgba(22,127,250, 0.3);
}
 
.card li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.card li span{
  color: #41414d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  padding: 10px;
} 

.link{
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #41414d;
  font-size: 22px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2;
  /* background-color: #43A838;   */
}


.link:hover{
  opacity: 0.8;
}
 
.linkButtons{  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}