.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center; /*alinha verticalmente ao centro*/
    justify-content: center; /*alinha horizontalmente ao centro*/

}


.logon-container .content{
    width: 100%;
    padding: 96px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0, 0.1);
    border-radius:  8px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 


.logon-container .logo{
    width: 200px;
    height: 200px;
}